<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"tales-of-rave/hero"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/new-photos-carousel"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/expo"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/featured-work"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/valeurs"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/shop-categories"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/custom-order-cta"} /-->
	<!-- wp:pattern {"slug":"tales-of-rave/presse"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
