<?xml version="1.0"?>
<ruleset name="Photo Shop">
	<description>WordPress Coding Standards for the custom theme and plugin.</description>
	<file>themes/tales-of-rave</file>
	<file>plugins/photo-shop-core</file>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<config name="testVersion" value="8.1-"/>
	<config name="minimum_wp_version" value="6.5"/>
	<rule ref="WordPress"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="tales-of-rave"/>
				<element value="photo-shop-core"/>
			</property>
		</properties>
	</rule>
</ruleset>
